<div class="center">
  <h1>Login & Security</h1>
<table>
  <tr>
    <td>
      Name :<br>
      Sneka
      <button class="b1" routerLink="/name" routerLinkActive="active"> Edit </button>
    </td>
</tr>
<tr>
    <td>
      Email id :<br>
      Sneka@xyz.com
      <button class="b1"> Edit </button>
    </td>
</tr>
<tr>
    <td>
      Phone Number :<br>
      +9187654456
      <button class="b1"> Edit </button>
    </td>
  </tr>
   </table>
   </div>
   <br>
   <div class= "center1">
     <button class="b2">Done</button>
     </div>
