<header>
  <b>
 Hi, what can we help you with?
 </b>
</header>
<div class="container">
 <div > <h2 routerLink="/account" routerLinkActive="active" >Account settings</h2>
   <ul>
     <li>Change your email, password</li>
     <li>Update login information</li>
   </ul>
 </div>
 <div> <h2>Manage Addresses</h2>
   <ul>
     <li>Update your addresses</li>
     <li>Add or edit address details</li>
   </ul>
 </div>
 <div> <h2>Manage Addresses</h2>
   <ul>
     <li>Update your addresses</li>
     <li>Add or edit address details</li>
   </ul>
 </div>
 <div> <h2>Manage Addresses</h2>
   <ul>
     <li>Update your addresses</li>
     <li>Add or edit address details</li>
   </ul>
 </div>
 <div> <h2>Manage Addresses</h2>
   <ul>
     <li>Update your addresses</li>
     <li>Add or edit address details</li>
   </ul>
 </div>
 <div> <h2>Manage Addresses</h2>
   <ul>
     <li>Update your addresses</li>
     <li>Add or edit address details</li>
   </ul>
 </div>

 </div>
